services:
  segmentai:
    build: .
    volumes:
      - ${HOST_DATA_DIR}:/work/data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]